.card {
  display: flex;
  height: 100%;
  margin: 20px;
  object-fit: contain;
  position: relative;
}

.card-left {
  display: flex;
  margin-bottom: 200px;
}

.card-right {
  position: absolute;
  display: flex;
  right: 20px;
  bottom: 10%;
}

.cardImage {
  max-width: 500px;
  min-width: 100px;
  object-fit: contain;
  width: 80%;
  border: 1px solid gray;
}

.card-text {
  font-size: 80%;
  align-items: center;
  padding: 20px;
  font-style: none;
  color: white !important;
  margin: auto;
}
