.sitecard {
  background-color: #17181c;
  padding: 3px;
  font-size: 1rem;
  padding-top: 50px;
}
.sitecard-image {
  position: relative;
}

.sitecard-image::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  background-color: white;
  transform-origin: center;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
  opacity: 0.6;
}

.sitecard-image:hover::before {
  transform: scale(1);
}

.sitecard-hoverItems {
  list-style: none;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 1rem 2rem;
  visibility: hidden;
}

.sitecard-image:hover > .sitecard-hoverItems {
  transition: all 0.5s ease-in-out 0.3s;
  visibility: visible;
  top: 50%;
}

.sitecard-hoverItems > a > .MuiSvgIcon-root {
  transition: all 0.1s ease-in-out 0.1;
  font-size: 3rem;
  color: #187bcd;
  font-weight: 600;
}

.sitecard-hoverItems > a > .MuiSvgIcon-root:hover {
  color: #1167b1;
  cursor: pointer;
}
.sitecard-image > img {
  min-height: 200px;
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.sitecard > h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 15px;
}
.sitecard-description {
  display: flex;
  align-items: center;
  padding: 5px;
}
.sitecard-description > p {
  font-size: 0.9rem;
  line-height: 1rem;
}
.sitecard-description > .MuiSvgIcon-root {
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .sitecard-image > img {
    width: 100%;
    object-fit: contain;
  }
  .sitecard-image::before {
    display: none;
  }
}
