.contact {
  height: 100%;
  background-color: #17181c;
}
.contact-header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.contact-header > h2 {
  font-size: 0.8rem;
}
.contact-body {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1rem;
  height: 100%;
}

.contactBody-text {
  flex: 0.6;
  margin: 10px;
}
.contactBody-text > h2 {
  color: #8489a3;
  font-size: 4rem;
  font-weight: 700;
  padding-top: 90px;
  padding-left: 10%;
}
.contactBody-text > p {
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 10%;
  padding-top: 14px;
}
.contactBody-text > p > span {
  color: #bbc3ed;
}

.contactBody-intro {
  display: flex;
  flex-direction: column;
}

.contactBody-intro > span {
  font-size: 4rem;
}
.contactBody-links {
  text-transform: uppercase;
  line-height: 3rem;
  padding-left: 60px;
  padding-top: 50px;
}
.contactBody-links > h2 > a {
  text-decoration: none;
  color: #bbc3ed;
  font-size: 1rem;
  width: 12%;
}

.linkedin-link > a:hover,
.github-link > a:hover,
.contactBody-text > p > span:hover {
  color: #8489a3;
}

.contact-body > .contactBody-image {
  background-color: #fafafa;
  margin: auto 0;
}

.contactBody-image > h2 {
  padding: 210px;
}

@media screen and (max-width: 1200px) {
  .contact-body {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .contact-body {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .contactBody-intro > span {
    font-size: 3rem;
  }
  .contactBody-text > h2 {
    font-size: 3rem;
  }
  .contactBody-text > p {
    font-size: 1rem;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .contactBody-intro > span {
    font-size: 2rem;
  }
  .contactBody-text > h2 {
    font-size: 2rem;
  }
  .contactBody-text > p {
    font-size: 0.8rem;
    padding-left: 0;
  }
}
